<p>angular-material-demo works!</p>
<div class="card-wrapper">
  <mat-card>
    <mat-card-title> this is may first cards</mat-card-title>
    <mat-card-subtitle> this sub title card-wrapper</mat-card-subtitle>
    <mat-card-content> These elements primary serve as pre-styled content containers without any additional APIs. However, the align property on  be used to position the actions at the 'start' or 'end' of the container.

      Card headers
     In addition to the aforementioned sections, gives the ability to add a rich header to a card. </mat-card-content>
     <mat-card-footer> <div style="padding:  10px;">this is footer </div></mat-card-footer>
     <img mat-card-lg-image src="https://images.pexels.com/photos/8411416/pexels-photo-8411416.jpeg?cs=srgb&dl=pexels-anna-rye-8411416.jpg&fm=jpg">
     </mat-card>

</div>
<div>
   <!-- <mat-card>
  <h1>Simple card</h1>
  <img mat-card-sm-image src="https://images.pexels.com/photos/8411416/pexels-photo-8411416.jpeg?cs=srgb&dl=pexels-anna-rye-8411416.jpg&fm=jpg">
</mat-card> -->
<!-- ============================================================= -->

 </div>
