<html>
<nav class="wrap-nav" >
  <div class="nav"><a  routerLink="/dbatu">Home</a></div>&nbsp;&nbsp;&nbsp;
  <div class="nav"><a  routerLink="/dbatu-about">about</a></div>&nbsp;&nbsp;&nbsp;
  <div class="nav"><a  routerLink="/dbatu-contact">contact</a></div>

  </nav>

  <p style="text-align: right; color: aqua;">home works!</p>
<h1 style="text-align: center;">Angular Project
</h1>
<!-- <app-hello-world></app-hello-world>  -->
<!-- <app-calculator></app-calculator> -->
 <!-- <app-todo></app-todo>
 <app-counter></app-counter> -->
 <!-- <app-user-details></app-user-details> -->
 <!-- <app-angular-material-demo></app-angular-material-demo> -->
<ul>
  <h2>Component List</h2>
  <li> <a  routerLink="/hello-world">hello world example</a></li>
  <li > <a  routerLink="/todo">TODO example</a></li>
  <li> <a  routerLink="/user-details">userDetail example</a></li>
  <li> <a  routerLink="/counter">counter example</a></li>
  <li> <a  routerLink="/calculator">calculator example</a></li>
</ul>
</html>


