
<!-- ===================================selectors in tags================================================= -->

<!-- <app-hello-world></app-hello-world>  -->
<!-- <app-calculator></app-calculator> -->
 <!-- <app-todo></app-todo>
 <app-counter></app-counter> -->
 <!-- <app-user-details></app-user-details> -->
 <!-- <app-angular-material-demo></app-angular-material-demo> -->

 <!-- ======================================routing example============================== -->
<!--
  <html>
<nav class="wrap-nav" >
  <div class="nav"><a  routerLink="/dbatu">Home</a></div>&nbsp;&nbsp;&nbsp;
  <div class="nav"><a  routerLink="/dbatu-about">about</a></div>&nbsp;&nbsp;&nbsp;
  <div class="nav"><a  routerLink="/dbatu-contact">contact</a></div>

  </nav>

  <p style="text-align: right; color: aqua;">home works!</p>
<h1 style="text-align: center;">Angular Project
</h1>

  <ul>
  <h2>Component List</h2>
  <li> <a  routerLink="/hello-world">hello world example</a></li>
  <li > <a  routerLink="/todo">TODO example</a></li>
  <li> <a  routerLink="/user-details">userDetail example</a></li>
  <li> <a  routerLink="/counter">counter example</a></li>
  <li> <a  routerLink="/calculator">calculator example</a></li>
  <li> <a  routerLink="/life-cycle">LifeCycle-Example</a></li>
  <li> <a  routerLink="/parent">Nested-Routing</a></li>
  <li> <a  routerLink="/form-example"> FormExampleComponent</a></li>
  <li> <a  routerLink="/form-table">form-table example</a></li>
  <li> <a  routerLink="/angular-material-demo">AngularMaterialDemoComponent example</a></li>
  <li> <a  routerLink="/dialog-example">Dialog-Example</a></li>

</ul>
</html> -->

<!-- ==============sidebar and toolbar and main contain Routing=================================== -->

<div class="demo-example-wrapper">
  <mat-card>
      <mat-card-title>Hello World</mat-card-title>
      <mat-card-subtitle> Angular Hello World Example</mat-card-subtitle>
      <mat-card-content> how to set up your Angular project to begin using Angular Material. It includes information on prerequisites, installing Angular Material, and optionally displaying a sample material component in your application to verify your setup.

        Angular Resources</mat-card-content>
      <mat-card-footer>
          <div style="padding: 15px;">
              <a routerLink="/hello-world">Click Here </a>
          </div>
      </mat-card-footer>
  </mat-card>
  <mat-card>
    <mat-card-title>TODO</mat-card-title>
    <mat-card-subtitle> Angular todo Example</mat-card-subtitle>
    <mat-card-content> how to set up your Angular project to begin using Angular Material.The goal in this post is to build and run a simple Angular ToDo application in TypeScript, using the Angular CLI. You can download the source code for the Angular MVC Todo app from GitHub repository angular todo app source code . Step 1: Set up the Development Environment. Step 2: Create a new App with Routing. Step 3: Serve the application.

      Angular Resources</mat-card-content>
    <mat-card-footer>
        <div style="padding: 15px;">
            <a routerLink="/todo">Click Here </a>
        </div>
    </mat-card-footer>
</mat-card>



<mat-card>
  <mat-card-title>User-Details</mat-card-title>
  <mat-card-subtitle> Angular User-DetailsExample</mat-card-subtitle>
  <mat-card-content> how to set up your Angular project to begin using Angular Material. It includes information on prerequisites, installing Angular Material, and optionally displaying a sample material component in your application to verify your setup.

    Angular Resources</mat-card-content>
  <mat-card-footer>
      <div style="padding: 15px;">
          <a routerLink="/user-details">Click Here </a>
      </div>
  </mat-card-footer>
</mat-card>


<mat-card>
  <mat-card-title>Counter</mat-card-title>
  <mat-card-subtitle> Angular COUNTER Example</mat-card-subtitle>
  <mat-card-content> how to set up your Angular project to begin using Angular Material. It includes information on prerequisites, installing Angular Material, and optionally displaying a sample material component in your application to verify your setup.

    Angular Resources</mat-card-content>
  <mat-card-footer>
      <div style="padding: 15px;">
          <a routerLink="/counter">Click Here </a>
      </div>
  </mat-card-footer>
</mat-card>





<mat-card>
  <mat-card-title>Calculator</mat-card-title>
  <mat-card-subtitle> Angular Calculator  Example</mat-card-subtitle>
  <mat-card-content> how to set up your Angular project to begin using Angular Material. It includes information on prerequisites,  and optionally displaying a sample material component in your application to verify your setup.

    Angular Resources</mat-card-content>
  <mat-card-footer>
      <div style="padding: 15px;">
          <a routerLink="/calculator">Click Here </a>
      </div>
  </mat-card-footer>
</mat-card>

<mat-card>
  <mat-card-title>Form-Table</mat-card-title>
  <mat-card-subtitle> Angular Form-TableExample</mat-card-subtitle>
  <mat-card-content>  Angular Material is a ui library with a wide variety of ui components. Angular Material offers data tables to show the data on frontend. We’ll learn to work with angular material tables from scratch using MatTableModule material design service

    Angular Resources</mat-card-content>
  <mat-card-footer>
      <div style="padding: 15px;">
          <a routerLink="/form-table">Click Here </a>
      </div>
  </mat-card-footer>
</mat-card>




<mat-card>
  <mat-card-title>Life-Cycle</mat-card-title>
  <mat-card-subtitle> Angular Life-Cycle Example</mat-card-subtitle>
  <mat-card-content> how to set up your Angular project to begin using Angular Material. initialization of component life
    OnInit(I) -> need to implement it -> there is method called ngOnInit -> define in your child class  Initial data for component/directive -> define/get here
    - This will be called only once in component life cycle.
    death component- this is a cleanup step.Angular will clean the data/resources used by component. how can a developer use it user defined resource -> we can free here. unsubscribe an observable.event handler remove.

    Angular Resources</mat-card-content>
  <mat-card-footer>
      <div style="padding: 15px;">
          <a routerLink="/life-cycle">Click Here </a>
      </div>
  </mat-card-footer>
</mat-card>






<mat-card>
  <mat-card-title>AngularMaterialDemoComponent </mat-card-title>
  <mat-card-subtitle> Angular Hello World Example</mat-card-subtitle>
  <mat-card-content> how to set up your Angular project to begin using Angular Material. It includes information on prerequisites, installing Angular Material, and optionally displaying a sample material component in your application to verify your setup.It     is an In-built responsive design.
    Angular Material has standard CSS.
    The new version of UI Components which are buttons, checkboxes, and text fieldsis used to follow Angular Material Design concepts.
    It has specialized features such as cards, toolbar, speed dial, side nav, swipe, side nav, and more.

    Angular Resources</mat-card-content>
  <mat-card-footer>
      <div style="padding: 15px;">
          <a routerLink="/angular-material-demo">Click Here </a>
      </div>
  </mat-card-footer>
</mat-card>

<mat-card>
  <mat-card-title>Routing Examples </mat-card-title>
  <mat-card-subtitle> Angular Routing Examples Example</mat-card-subtitle>
  <mat-card-content> Routing in Angular allows the users to create a single-page application with multiple views and allows navigation between them. Users can switch between these views without losing the application state and properties.
    Angular Resources</mat-card-content>
  <mat-card-footer>
      <div style="padding: 15px;">

      <a  routerLink="/dbatu" > Click Home</a><br>
       <a  routerLink="/dbatu-about"> click see to about</a><br>
     <a  routerLink="/dbatu-contact">click see to contact</a>
      </div>
  </mat-card-footer>
</mat-card>

<mat-card>
  <mat-card-title>Form-Example</mat-card-title>
  <mat-card-subtitle> Angular Form Example</mat-card-subtitle>
  <mat-card-content>The Form is a component that is used to wrap multiple MAT components and implement common text field styles of the form-field such as hint message, underlines, and floating label.

    Angular Resources</mat-card-content>
  <mat-card-footer>
      <div style="padding: 15px;">
          <a routerLink="/form-example">Click Here </a>
      </div>
  </mat-card-footer>
</mat-card>




<mat-card>
  <mat-card-title>Dialog-Example</mat-card-title>
  <mat-card-subtitle> Angular Dialog Example</mat-card-subtitle>
  <mat-card-content> MatDialog installs components at run-time, but the Angular compiler needs additional information to create the components required for your dialog component. To load any component into a dialog, you should include the component class in your NgModuledefinition in the computer list. Hence, the Angular compiler knows that how to create a component for NgModule.
    Angular Resources</mat-card-content>
  <mat-card-footer>
      <div style="padding: 15px;">
          <a routerLink="/dialog-example">Click Here </a>
      </div>
  </mat-card-footer>
</mat-card>

<mat-card>
  <mat-card-title>REST API-Example</mat-card-title>
  <mat-card-subtitle> AngularREST API Example</mat-card-subtitle>
  <mat-card-content> An API, or application programming interface, is a set of rules that define how applications or devices can connect to and communicate with each other. A REST API is an API that conforms to the design principles of the REST, or representational state transfer architectural style. For this reason, REST APIs are sometimes referred to RESTful APIs.

    Angular Resources</mat-card-content>
  <mat-card-footer>
      <div style="padding: 15px;">
          <a routerLink="/rest-demo">Click Here </a>
      </div>
  </mat-card-footer>
</mat-card>


<mat-card>
  <mat-card-title>rxjs-demo-Example</mat-card-title>
  <mat-card-subtitle> AngularREST API Example</mat-card-subtitle>
  <mat-card-content> An API, or application programming interface, is a set of rules that define how applications or devices can connect to and communicate with each other. A REST API is an API that conforms to the design principles of the REST, or representational state transfer architectural style. For this reason, REST APIs are sometimes referred to RESTful APIs.

    Angular Resources</mat-card-content>
  <mat-card-footer>
      <div style="padding: 15px;">
          <a routerLink="/rxjs-demo">Click Here </a>
      </div>
  </mat-card-footer>
</mat-card>

<mat-card>
  <mat-card-title>form-group-Example</mat-card-title>
  <mat-card-subtitle> Angularform-group Example</mat-card-subtitle>
  <mat-card-content>FormGroup is one of the three fundamental building blocks used to define forms in Angular, along with FormControl and FormArray. When instantiating a FormGroup, pass in a collection of child controls as the first argument. The key for each child registers the name for the control.

    Angular Resources</mat-card-content>
  <mat-card-footer>
      <div style="padding: 15px;">
          <a routerLink="/form-group">Click Here </a>
      </div>
  </mat-card-footer>
</mat-card>

<mat-card>
  <mat-card-title>Service-Example</mat-card-title>
  <mat-card-subtitle> AngularREST API Example</mat-card-subtitle>
  <mat-card-content> An API, or application programming interface, is a set of rules that define how applications or devices can connect to and communicate with each other. A REST API is an API that conforms to the design principles of the REST, or representational state transfer architectural style. For this reason, REST APIs are sometimes referred to RESTful APIs.

    Angular Resources</mat-card-content>
  <mat-card-footer>
      <div style="padding: 15px;">
          <a routerLink="/service-example">Click Here </a>
      </div>
  </mat-card-footer>
</mat-card>


