
<!-- ===================================selectors in tags================================================= -->

<!-- <app-hello-world></app-hello-world>  -->
<!-- <app-calculator></app-calculator> -->
 <!-- <app-todo></app-todo>
 <app-counter></app-counter> -->
 <!-- <app-user-details></app-user-details> -->
 <!-- <app-angular-material-demo></app-angular-material-demo> -->

 <!-- ======================================routing example============================== -->
<!--
  <html>
<nav class="wrap-nav" >
  <div class="nav"><a  routerLink="/dbatu">Home</a></div>&nbsp;&nbsp;&nbsp;
  <div class="nav"><a  routerLink="/dbatu-about">about</a></div>&nbsp;&nbsp;&nbsp;
  <div class="nav"><a  routerLink="/dbatu-contact">contact</a></div>

  </nav>

  <p style="text-align: right; color: aqua;">home works!</p>
<h1 style="text-align: center;">Angular Project
</h1>

  <ul>
  <h2>Component List</h2>
  <li> <a  routerLink="/hello-world">hello world example</a></li>
  <li > <a  routerLink="/todo">TODO example</a></li>
  <li> <a  routerLink="/user-details">userDetail example</a></li>
  <li> <a  routerLink="/counter">counter example</a></li>
  <li> <a  routerLink="/calculator">calculator example</a></li>
  <li> <a  routerLink="/life-cycle">LifeCycle-Example</a></li>
  <li> <a  routerLink="/parent">Nested-Routing</a></li>
  <li> <a  routerLink="/form-example"> FormExampleComponent</a></li>
  <li> <a  routerLink="/form-table">form-table example</a></li>
  <li> <a  routerLink="/angular-material-demo">AngularMaterialDemoComponent example</a></li>
  <li> <a  routerLink="/dialog-example">Dialog-Example</a></li>

</ul>
</html> -->

<!-- ==============sidebar and toolbar and main contain Routing=================================== -->

<div class="demo-example-wrapper">
  <mat-card>
      <mat-card-title>Hello World</mat-card-title>
      <mat-card-subtitle> Angular Hello World Example</mat-card-subtitle>
      <mat-card-content> how to set up your Angular project to begin using Angular Material. It includes information on prerequisites, installing Angular Material, and optionally displaying a sample material component in your application to verify your setup.

        Angular Resources</mat-card-content>
      <mat-card-footer>
          <div style="padding: 15px;">
              <a routerLink="/hello-world">Click Here </a>
          </div>
      </mat-card-footer>
  </mat-card>
  <mat-card>
    <mat-card-title>TODO</mat-card-title>
    <mat-card-subtitle> Angular todo Example</mat-card-subtitle>
    <mat-card-content> how to set up your Angular project to begin using Angular Material. It includes information on prerequisites, installing Angular Material, and optionally displaying a sample material component in your application to verify your setup.

      Angular Resources</mat-card-content>
    <mat-card-footer>
        <div style="padding: 15px;">
            <a routerLink="/todo">Click Here </a>
        </div>
    </mat-card-footer>
</mat-card>



<mat-card>
  <mat-card-title>User-Details</mat-card-title>
  <mat-card-subtitle> Angular Hello World Example</mat-card-subtitle>
  <mat-card-content> how to set up your Angular project to begin using Angular Material. It includes information on prerequisites, installing Angular Material, and optionally displaying a sample material component in your application to verify your setup.

    Angular Resources</mat-card-content>
  <mat-card-footer>
      <div style="padding: 15px;">
          <a routerLink="/user-details">Click Here </a>
      </div>
  </mat-card-footer>
</mat-card>


<mat-card>
  <mat-card-title>Counter</mat-card-title>
  <mat-card-subtitle> Angular Hello World Example</mat-card-subtitle>
  <mat-card-content> how to set up your Angular project to begin using Angular Material. It includes information on prerequisites, installing Angular Material, and optionally displaying a sample material component in your application to verify your setup.

    Angular Resources</mat-card-content>
  <mat-card-footer>
      <div style="padding: 15px;">
          <a routerLink="/counter">Click Here </a>
      </div>
  </mat-card-footer>
</mat-card>





<mat-card>
  <mat-card-title>Calculator</mat-card-title>
  <mat-card-subtitle> Angular Hello World Example</mat-card-subtitle>
  <mat-card-content> how to set up your Angular project to begin using Angular Material. It includes information on prerequisites,  and optionally displaying a sample material component in your application to verify your setup.

    Angular Resources</mat-card-content>
  <mat-card-footer>
      <div style="padding: 15px;">
          <a routerLink="/calculator">Click Here </a>
      </div>
  </mat-card-footer>
</mat-card>

<mat-card>
  <mat-card-title>Form-Table</mat-card-title>
  <mat-card-subtitle> Angular Hello World Example</mat-card-subtitle>
  <mat-card-content> how to set up your Angular project to begin using Angular Material. It includes information on prerequisites,  and optionally displaying a sample material component in your application to verify your setup.

    Angular Resources</mat-card-content>
  <mat-card-footer>
      <div style="padding: 15px;">
          <a routerLink="/form-table">Click Here </a>
      </div>
  </mat-card-footer>
</mat-card>




<mat-card>
  <mat-card-title>Life-Cycle</mat-card-title>
  <mat-card-subtitle> Angular Hello World Example</mat-card-subtitle>
  <mat-card-content> how to set up your Angular project to begin using Angular Material. It includes information on prerequisites, installing Angular Material, and optionally displaying a sample material component in your application to verify your setup.

    Angular Resources</mat-card-content>
  <mat-card-footer>
      <div style="padding: 15px;">
          <a routerLink="/life-cycle">Click Here </a>
      </div>
  </mat-card-footer>
</mat-card>






<mat-card>
  <mat-card-title>AngularMaterialDemoComponent </mat-card-title>
  <mat-card-subtitle> Angular Hello World Example</mat-card-subtitle>
  <mat-card-content> how to set up your Angular project to begin using Angular Material. It includes information on prerequisites, installing Angular Material, and optionally displaying a sample material component in your application to verify your setup.

    Angular Resources</mat-card-content>
  <mat-card-footer>
      <div style="padding: 15px;">
          <a routerLink="/angular-material-demo">Click Here </a>
      </div>
  </mat-card-footer>
</mat-card>

<mat-card>
  <mat-card-title>Routing Examples </mat-card-title>
  <mat-card-subtitle> Angular Routing Examples Example</mat-card-subtitle>
  <mat-card-content> how to set up your Angular project to begin using Angular Material. It includes information on prerequisites, installing Angular Material, and optionally displaying a sample material component in your application to verify your setup.

    Angular Resources</mat-card-content>
  <mat-card-footer>
      <div style="padding: 15px;">

      <a  routerLink="/dbatu" > Click Home</a><br>
       <a  routerLink="/dbatu-about"> click see to about</a><br>
     <a  routerLink="/dbatu-contact">click see to contact</a>
      </div>
  </mat-card-footer>
</mat-card>

<mat-card>
  <mat-card-title>Form-Example</mat-card-title>
  <mat-card-subtitle> Angular Hello World Example</mat-card-subtitle>
  <mat-card-content> how to set up your Angular project to begin using Angular Material. It includes information on prerequisites, installing Angular Material, and optionally displaying a sample material component in your application to verify your setup.

    Angular Resources</mat-card-content>
  <mat-card-footer>
      <div style="padding: 15px;">
          <a routerLink="/form-example">Click Here </a>
      </div>
  </mat-card-footer>
</mat-card>




<mat-card>
  <mat-card-title>Dialog-Example</mat-card-title>
  <mat-card-subtitle> Angular Hello World Example</mat-card-subtitle>
  <mat-card-content> how to set up your Angular project to begin using Angular Material. It includes information on prerequisites, installing Angular Material, and optionally displaying a sample material component in your application to verify your setup.

    Angular Resources</mat-card-content>
  <mat-card-footer>
      <div style="padding: 15px;">
          <a routerLink="/dialog-example">Click Here </a>
      </div>
  </mat-card-footer>
</mat-card>



