<h1>dbatu works!</h1>
  <!DOCTYPE html>
<html lang="en" >

<body>
<h1>DBATU INFORMATION</h1>
    <form >
        <div class="parent">
        <div class="inx">

<h3>Dr. Babasaheb Ambedkar Technological University</h3>
Dr. Babasaheb Ambedkar Technological University, with its headquarters situated at Lonere, is now a statutory State Technical University established by Government of Maharashtra through special Dr. Babasaheb Ambedkar Technological University Act. The university has been accorded the status of an ‘affiliating’ university of the entire State of Maharashtra from March 2, 2016, by the Maharashtra Act No. XXIX of 2014.
Dr. Babasaheb Ambedkar Technological University is one and only one of its kinds in the State. The University is located at Lonere, the place in the ranges of Western Ghat, at the foot of Raigad fort, the place from where Chhatrapati Shivaji administered his major activities. It is autonomous in nature and Unitary in its character.
        </div>
        <div class="ipx">

           <h2> an e-learning and services based platform  </h2>
           <h3> Mission</h3>
The University is committed to provide quality technical education, research and development services to meet the needs of industry, business, service sector and the society, at large.
        </div>

    </div>

    </form>
</body>
</html>
