
.parent{
  display: grid;
  grid-template-columns: 1fr 1fr ;
  background-color: antiquewhite;
  border: 5px solid;
}
.parent >.inx{
  /* background-color: slategray; */
  padding: 12px;
  margin: 20px;
  font-weight: bold;
  /* border: 8px solid black; */
}
.parent >.ipx    {
  background-color:lightpink;
  padding: 12px;
  margin: 20px;
  /* background-image: url('war.jpeg'); */
  text-align: center;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-weight: bold;

}
h1{
  color: brown;
  text-align: center;
}

