<h1>life-cycle works!</h1>
<p> initialization of component life
   OnInit(I) -> need to implement it -> there is method called ngOnInit -> define in your child class <br>- Initial data for component/directive -> define/get here
   - This will be called only once in component life cycle. <br>
   death component
    this is a cleanup step
    Angular will clean the data/resources used by component
    how can a developer use it user defined resource -> we can free here
      unsubscribe an observable
      event handler remove
  </p>
