<html style="background-color:lightsalmon">

<h1>Dbatu-Contact Works!</h1>
<h2><span><a href="#">Contact Us</a></span></h2>


<table width="100%" border="0" cellspacing="0" cellpadding="0">
  <tr>
    <td width="94%"><strong><h2>Dr. Babasaheb Ambedkar Technological University<br/></h2>
    Lonere<br/>
    mongoan,
    Raigad <br>
    Pincode:  402103</strong></td>
  </tr><br>
  <tr>

    <td><strong>Mobile: 02140 275 081/212</strong></td>
  </tr><br>
  <tr>

    <td><strong>Email: registrar@dbatu.ac.in</strong></td>
  </tr><br>
  <tr>

    <td><strong>address:Vidyavihar, Dist. Raigad, Lonere, Maharashtra</strong></td>
  </tr><br>
  <tr>

    <td><strong><a href="https://dbatu.ac.in/ ">Website:https://dbatu.ac.in/</a></strong></td>
  </tr>
</table>
</html>
